body {
  background-color: skyblue;
  font-size: 1.6rem;
}

.container {
  justify-content: center;
}

.appHeader, .appMain, .menu__list {
  width: 1000px;
}

.appHeader {
  /* grid */
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "brand member"
  "brand search"; */
  height: 105px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  /* padding-bottom: 2rem; */
}

.brand {
  /* grid-area: brand; */
}

.memberOnly {
  /* grid-area: member; */
}

.searchForm {
  /* grid-area: search; */
  text-align: right;
  height: 60px;
}

input[name="search"] {
  width: 400px;
}

.buttonSearch {
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  background-color: #988574;
  color: #ffffff;
  height: 35px;
}

.appNavigation, .appFooter {
  width: 100vw;
}

/* navigation */
.appNavigation {
  background: #988574;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}

.buttonNone {
  display: none;
}

.menu__list {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.menu__link {
  font-size: 1.8rem;
  font-weight: 900;
  text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000;
}

.menu__subMenu {
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 2rem;
}

.menu__subMenu li {
  margin-top: 1.5rem;
}

/* Main Menu */
.appMain {
  justify-content: space-between;
}

.book {
  width: 320px;
}

.news {
  width: 660px;
}

.board {
  width: 320px;
}

.favorite {
  width: 220px;
  order: 1;
}

.twitter {
  width: 420px;
}

.appFooter {
}