body {
  background-color: skyblue;
  font-size: 1.6rem;
}

.container {
  justify-content: center;
}

.appHeader, .appMain {
  width: 1000px;
}

.appHeader {
  /* grid */
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "brand member"
  "brand search"; */
  height: 85px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.brand {
  /* grid-area: brand; */
}

.memberOnly {
  /* grid-area: member; */
}

.searchForm {
  /* grid-area: search; */
  text-align: right;
}

input[name="search"] {
  width: 400px;
}

.buttonSearch {
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  background-color: #988574;
  color: #ffffff;
  height: 35px;
}

.appNavigation, .appFooter {
  width: 100vw;
}

.appMain {
  justify-content: space-between;
}

.book {
  width: 320px;
}

.news {
  width: 660px;
}

.board {
  width: 320px;
}

.favorite {
  width: 220px;
  order: 1;
}

.twitter {
  width: 420px;
}

.appFooter {
}